<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Diff</title>
</head>
<body>
{% url 'compare_file' as upload_compare_file_url %}
{% if compare_form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="{{ upload_compare_file_url }}">
{% else %}
    <form method="post" action="{{ upload_compare_file_url }}"/>
{% endif %}
    {% csrf_token %}
    {{ compare_form }}
    <input type="submit" id="upload" name="upload" value="upload" />
</form>
</body>
</html>