<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% block head %}
    <title> {% block title %}欢迎使用case构造系统{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id = "sidebar" class="navi">
    {% block sidebar %}
    <ul>
        <li><a href="{% url 'allconfig' %}" target="_blank">首页</a></li>
        <li><a href="{% url 'uploadconfig' %}" target="_blank">上传新配置</a></li>
        <li><a href="{% url 'allcase' %}" target="_blank">查看已生成case</a></li>
    </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>