<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Case</title>
</head>
<body>
<table>
    <tr>
        <th>配置文件</th>
        <th>case数量</th>
        <th>case生成时间</th>
        <th>下载case</th>
        <th>下载次数</th>
    </tr>
    {% for c in case %}
    <tr>
        <td><a href="/casemaker/config/detail/{{ c.config_id }}" target="_blank">配置详情</a> </td>
        <td>{{ c.case_num }}</td>
        <td>{{ c.generate_time }}</td>
        <td><a href="/casemaker/case/download/{{ c.config_id }}" target="_blank">下载</a></td>
        <td>{{ c.download_times }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>