{% extends "base_generic.html" %}
{% block title %}配置详情{% endblock %}
{% load static %}
{% block head %}
<title>上传配置</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base_generic.css' %}" />
{% endblock %}
{% block content %}
{% url 'uploadconfig' as upload_config_url %}
{% if config_form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="{{ upload_config_url }}">
{% else %}
    <form method="post" action="{{ upload_config_url }}"/>
{% endif %}
    {% csrf_token %}
    {{ config_form }}
     <!-- 版本选择使用select标签，利用Django的form不好实现 -->
     <select name="version_id">
         {% for choose in versions %}
             <option value="{{ choose.version_id }}">{{ choose.version_name }}</option>
         {% endfor %}
     </select>
    <input type="submit" id="upload" name="upload" value="upload" />
</form>
{% endblock %}