{% extends "base_generic.html" %}
{% load static %}
{% block head %}
<title>配置详情页</title>
<script type="text/javascript" src="{% static 'js/config.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'css/base_generic.css' %}" />
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>用户名</th>
        <th>配置文件</th>
        <th>导航版本</th>
        <th>状态</th>
        <th>上传时间</th>
        <th>修改时间</th>
        <th>生成或者下载case</th>
    </tr>
    {% for c in config %}
    <tr>
        <td>{{ c.user }}</td>
        <td> <a href="{% url 'config_detail' c.id %}" target="_blank">查看详情</a></td>
        <td> {% for v in version %}
            {% if v.version_id == c.navi_version_id %}
            {{ v.version_name }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% if c.state == 2 %}
            case已生成
            {% else %}
            case未生成
            {% endif %}
        </td>
        <td> {{ c.upload_time }}</td>
        <td> {{ c.modify_time }}</td>
        <td>
            {% if c.state == 2 %} {# generate done #}
            <a href="{% url 'download_case' c.id %}" target="_blank">下载case</a>
            {% elif c.state == 3 %}
            <p>case生成中，请稍后刷新本页面</p>
            {% else %}
            <!-- 生成case的form -->
            <form action="{% url 'generate_case' %}" method="post">
                <input type="hidden" name="config_id" value="{{ c.id }}" />
                <input type="submit" name="Submit" value="生成case"/>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% ifnotequal current_page 1 %}
    <a href="?current_page={{ current_page }}&&page_type=2">上一页</a>
{% endifnotequal %}
第{{ current_page }}/{{ total_page }}页
{% ifnotequal current_page total_page %}
    <a href="?current_page={{ current_page }}&&page_type=1">下一页</a>
{% endifnotequal %}
{% endblock %}
